## Deliverable 3. Create a Travel Itinerary Map.

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [26]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C:\\Users\\Microsoft\\Desktop\\Analysis Projects\\World_Weather_Analysis\\World_Weather_Analysis\\Vacation_Search\\WeatherPy_vacation.csv")
vacation_df.head()

# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Albany,US,73.58,overcast clouds,42.6001,-73.9662,NaN
1,2,Rikitea,PF,77.45,overcast clouds,-23.1203,-134.9692,People ThankYou
2,3,Kaabong,UG,74.98,scattered clouds,3.4836,34.1492,Rock Motel Ltd
3,6,Kapaa,US,73.72,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,12,Eenhana,NaN,78.58,few clouds,-17.4667,16.3333,Hotel Litu

In [27]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Tateyama']
vacation_end = vacation_df.loc[vacation_df['City']=='Tateyama']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Katsuura']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Hasaki'] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Oyama'] 

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
116,234,Oyama,JP,64.58,light rain,36.3,139.8,Toyoko Inn Oyama-eki Higashi-guchi No.1

In [86]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = (34.9833,139.8667)
end = (34.9833,139.8667)
stop1 = (35.1333,140.3)
stop2 = (35.7333, 140.8333)
stop3 = (36.3, 139.8)

'(34.9833, 139.8667)'

In [87]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
direction = gmaps.directions_layer(start, stop1, waypoints = [stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(direction)
fig

Figure(layout=FigureLayout(height='420px'))

In [88]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,587,Tateyama,JP,60.10,light rain,34.9833,139.8667,Tateyama Seaside Hotel
1,127,Katsuura,JP,63.86,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
2,90,Hasaki,JP,61.29,light rain,35.7333,140.8333,Inubosaki Kanko Hotel
3,234,Oyama,JP,64.58,light rain,36.3000,139.8000,Toyoko Inn Oyama-eki Higashi-guchi No.1

In [89]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [99]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure

fig = gmaps.figure(center=(35.5,140.0), zoom_level=7.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))